NODE_ENV=development
PORT=3001

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=music_gpt
DATABASE_URL=postgres://postgres:@postgres:5432/music_gpt

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Auth
SALT_ROUNDS=10
JWT_SECRET_KEY=
JWT_EXPIRES_IN=10m
JWT_REFRESH_SECRET_KEY=
JWT_REFRESH_EXPIRES_IN=7d
